extends layout
block head
  title Daniel Machen | 404

block hero
  h2(class="p-0 text-7xl") That's a 404
  h3(class="text-2xl") Page not found.
  span This site is smaller than you think :P
  a(href="/" class="mt-4 text-red-500")="<< Home"

